.picture-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.picture {
    width: 15rem;
    height: 20rem;
    border-radius: 15px;
    border: 3px solid var(--light);
    box-shadow: 0 3px 13px 1px var(--dark)
}

.div-center {
    display: flex;
    justify-content: center;
}

.about-text {
    width: 90%;
    text-align: center;
    line-height: 1.5rem;
}